.filmStrip {
  width: calc(100% - 4rem);
  border-radius: 10px;
  display: flex;
  margin: 0.3rem 0;
  position: relative;
  justify-content: space-between;
}
.filmStrip::before,
.filmStrip::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 100%;
  background: repeating-linear-gradient(
    #cbcbcb,
    #cbcbcb 1.3rem,
    transparent 1.2rem,
    transparent 2.2rem
  );
}

.filmStrip::before {
  left: -1.5rem;
}

.filmStrip::after {
  right: -1.5rem;
}

.filmFrame {
  border-radius: 5px;
  font-size: 18px;
  flex: 1;
}
.modal {
  position: absolute;
  background-color: #1a1a1a;
  padding: 10px 20px;
  width: auto;
  cursor: default;
  word-break: keep-all;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
  right: 0;
}
.selectWrapper {
  position: relative;
}
.content {
  background-color: #cbcbcb;
  color: black;
  display: flex;
  max-height: 60rem;
  border-radius: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1.2rem;
  overflow: auto;
  min-height: 35rem;
}

.content p {
  padding: 1rem;
}

.storyImg {
  width: 100%;
  height: 60rem;
  object-fit: contain;
}

.storyVideo {
  width: 100%;
}

.dateText {
  font-size: 12px;
  text-align: end;
  padding: 4px;
  color: #aaa;
}

.deleteButton {
  background-color: unset;
  border: none;
  cursor: pointer;
}

.deleteButton:hover {
  opacity: 0.8;
}

.filmHeader {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  justify-content: space-between;
}
