.diary {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 8.5rem);
  position: relative;
  max-height: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.diary::-webkit-scrollbar {
  width: 8px;
}

.diary::-webkit-scrollbar-thumb {
  background: #444; /* 어두운 색상 */
  border-radius: 4px;
}

.diary::-webkit-scrollbar-thumb:hover {
  background: #222; /* 호버 시 더 어두운 색상 */
}

.diary::-webkit-scrollbar-track {
  background: #1a1a1a; /* 트랙 색상 */
}
